Android Studio / Android SDK / Visual studio code
Flutter SDK
Flutter Packages:
  hexcolor: ^3.0.1
  device_preview: ^1.1.0
  file_picker: ^6.1.1
  http: ^1.1.0
  getwidget: ^4.0.0
  camera: ^0.10.5+7
  video_player: ^2.8.1
